.todo {
    background-color: #fff;
    border-radius: 6px;
    padding: 14px;
    width: 90%;
}

.todo-input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    /* position: fixed;
    z-index: 1000;
    background-color: #fff;
    width: 90%;
    top: 10 */
}

.todo-item-container {
    display: flex;
    align-items: center;
    position:relative;
    border-bottom: 0.5px solid #ccc;
    padding: 10px 0;
}

.todo-item-text {
    width: 80%;
}

.todo-item-icons {
    position: absolute;
    right: 0
}